doctype html 
html 
    head    
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Natours | #{title}
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='shortcut icon' type='image/png' href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
    body 
        include _header

        block content
            h1
        include _footer

            //- h1 #{tour}
            //- //- or h1= tour
            //- h2= user.toUpperCase()
            //- // commented and showed in html element
            //- //-can't see in html

            //- //-declare variable
            //- - const x = 9;
            //- h2= 2 * x

            //- p this is just some text 
